body
{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h1
{
    color:#026664;
}
h3
{
    color:#026664;
}

div.examplecode
{
    font-family: 'Courier New', Courier, 'Times New Roman';
}

div.membername
{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:large;
    color:#026664;
}
div.member
{
    background-color:#DDDDDD;
}
